trunk/cwmp/wsdl/cwmp-1-1.wsdl

<!--WSDL generated by thinktecture WSCF; version 0.5.1.5216-->
<!--Friday, 03-04-2009 - 06:37 PM-->
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:dslforum-org:cwmp-1-1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:dslforum-org:cwmp-1-1" name="cwmp_agent" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="cwmp-1-1.xsd" namespace="urn:dslforum-org:cwmp-1-1" />
    </xsd:schema>
  </types>
  <message name="getRPCMethodsIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetRPCMethods" />
  </message>
  <message name="getRPCMethodsOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetRPCMethodsResponse" />
  </message>
  <message name="setParameterValuesIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:SetParameterValues" />
  </message>
  <message name="setParameterValuesOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:SetParameterValuesResponse" />
  </message>
  <message name="getParameterValuesIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetParameterValues" />
  </message>
  <message name="getParameterValuesOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetParameterValuesResponse" />
  </message>
  <message name="getParameterNamesIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetParameterNames" />
  </message>
  <message name="getParameterNamesOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetParameterNamesResponse" />
  </message>
  <message name="setParameterAttributesIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:SetParameterAttributes" />
  </message>
  <message name="setParameterAttributesOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:SetParameterAttributesResponse" />
  </message>
  <message name="getParameterAttributesIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetParameterAttributes" />
  </message>
  <message name="getParameterAttributesOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetParameterAttributesResponse" />
  </message>
  <message name="addObjectIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:AddObject" />
  </message>
  <message name="addObjectOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:AddObjectResponse" />
  </message>
  <message name="deleteObjectIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:DeleteObject" />
  </message>
  <message name="deleteObjectOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:DeleteObjectResponse" />
  </message>
  <message name="downloadIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:Download" />
  </message>
  <message name="downloadOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:DownloadResponse" />
  </message>
  <message name="rebootIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:Reboot" />
  </message>
  <message name="rebootOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:RebootResponse" />
  </message>
  <message name="getQueuedTransfersIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetQueuedTransfers" />
  </message>
  <message name="getQueuedTransfersOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetQueuedTransfersResponse" />
  </message>
  <message name="scheduleInformIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:ScheduleInform" />
  </message>
  <message name="scheduleInformOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:ScheduleInformResponse" />
  </message>
  <message name="setVouchersIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:SetVouchers" />
  </message>
  <message name="setVouchersOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:SetVouchersResponse" />
  </message>
  <message name="getOptionsIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetOptions" />
  </message>
  <message name="getOptionsOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetOptionsResponse" />
  </message>
  <message name="uploadIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:Upload" />
  </message>
  <message name="uploadOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:UploadResponse" />
  </message>
  <message name="factoryResetIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:FactoryReset" />
  </message>
  <message name="factoryResetOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:FactoryResetResponse" />
  </message>
  <message name="getAllQueuedTransfersIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetAllQueuedTransfers" />
  </message>
  <message name="getAllQueuedTransfersOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:GetAllQueuedTransfersResponse" />
  </message>
  <message name="informIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:Inform" />
  </message>
  <message name="informOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:InformResponse" />
  </message>
  <message name="transferCompleteIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:TransferComplete" />
  </message>
  <message name="transferCompleteOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:TransferCompleteResponse" />
  </message>
  <message name="autonomousTransferCompleteIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:AutonomousTransferComplete" />
  </message>
  <message name="autonomousTransferCompleteOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:AutonomousTransferCompleteResponse" />
  </message>
  <message name="kickedIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:Kicked" />
  </message>
  <message name="kickedOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:KickedResponse" />
  </message>
  <message name="requestDownloadIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:RequestDownload" />
  </message>
  <message name="requestDownloadOut">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:RequestDownloadResponse" />
  </message>
  <message name="iDIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:ID" />
  </message>
  <message name="holdRequestsIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:HoldRequests" />
  </message>
  <message name="faultIn">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <part name="messagePart" element="tns:Fault" />
  </message>
  <portType name="cwmp_agentInterface">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="GetRPCMethods">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getRPCMethodsIn" />
      <output message="tns:getRPCMethodsOut" />
    </operation>
    <operation name="SetParameterValues">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:setParameterValuesIn" />
      <output message="tns:setParameterValuesOut" />
    </operation>
    <operation name="GetParameterValues">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getParameterValuesIn" />
      <output message="tns:getParameterValuesOut" />
    </operation>
    <operation name="GetParameterNames">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getParameterNamesIn" />
      <output message="tns:getParameterNamesOut" />
    </operation>
    <operation name="SetParameterAttributes">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:setParameterAttributesIn" />
      <output message="tns:setParameterAttributesOut" />
    </operation>
    <operation name="GetParameterAttributes">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getParameterAttributesIn" />
      <output message="tns:getParameterAttributesOut" />
    </operation>
    <operation name="AddObject">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:addObjectIn" />
      <output message="tns:addObjectOut" />
    </operation>
    <operation name="DeleteObject">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:deleteObjectIn" />
      <output message="tns:deleteObjectOut" />
    </operation>
    <operation name="Download">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:downloadIn" />
      <output message="tns:downloadOut" />
    </operation>
    <operation name="Reboot">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:rebootIn" />
      <output message="tns:rebootOut" />
    </operation>
    <operation name="GetQueuedTransfers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getQueuedTransfersIn" />
      <output message="tns:getQueuedTransfersOut" />
    </operation>
    <operation name="ScheduleInform">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:scheduleInformIn" />
      <output message="tns:scheduleInformOut" />
    </operation>
    <operation name="SetVouchers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:setVouchersIn" />
      <output message="tns:setVouchersOut" />
    </operation>
    <operation name="GetOptions">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getOptionsIn" />
      <output message="tns:getOptionsOut" />
    </operation>
    <operation name="Upload">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:uploadIn" />
      <output message="tns:uploadOut" />
    </operation>
    <operation name="FactoryReset">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:factoryResetIn" />
      <output message="tns:factoryResetOut" />
    </operation>
    <operation name="GetAllQueuedTransfers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getAllQueuedTransfersIn" />
      <output message="tns:getAllQueuedTransfersOut" />
    </operation>
    <operation name="Inform">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:informIn" />
      <output message="tns:informOut" />
    </operation>
    <operation name="TransferComplete">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:transferCompleteIn" />
      <output message="tns:transferCompleteOut" />
    </operation>
    <operation name="AutonomousTransferComplete">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:autonomousTransferCompleteIn" />
      <output message="tns:autonomousTransferCompleteOut" />
    </operation>
    <operation name="Kicked">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:kickedIn" />
      <output message="tns:kickedOut" />
    </operation>
    <operation name="RequestDownload">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:requestDownloadIn" />
      <output message="tns:requestDownloadOut" />
    </operation>
    <operation name="Fault">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:faultIn" />
    </operation>    
  </portType>
  <binding name="cwmp_agent" type="tns:cwmp_agentInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetRPCMethods">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:getRPCMethodsIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="SetParameterValues">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:setParameterValuesIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="GetParameterValues">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:getParameterValuesIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="GetParameterNames">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:getParameterNamesIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="SetParameterAttributes">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:setParameterAttributesIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="GetParameterAttributes">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:getParameterAttributesIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="AddObject">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:addObjectIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="DeleteObject">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:deleteObjectIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="Download">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:downloadIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />        
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="Reboot">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:rebootIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />        
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="GetQueuedTransfers">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:getQueuedTransfersIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="ScheduleInform">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:scheduleInformIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="SetVouchers">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:setVouchersIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="GetOptions">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:getOptionsIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="Upload">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:uploadIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="FactoryReset">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:factoryResetIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="GetAllQueuedTransfers">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:getAllQueuedTransfersIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="Inform">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:informIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="TransferComplete">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:transferCompleteIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="AutonomousTransferComplete">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:autonomousTransferCompleteIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="Kicked">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:kickedIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="RequestDownload">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:requestDownloadIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
        <soap:header message="tns:holdRequestsIn" part="messagePart" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </output>
    </operation>
    <operation name="Fault">
      <soap:operation soapAction="urn:dslforum-org:cwmp-1-1:faultIn" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:iDIn" part="messagePart" use="literal" />
      </input>
    </operation>    
  </binding>
</definitions>